<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rule.mapper.UserMapper">
    <insert id="save" parameterType="com.rule.entity.User">
        INSERT INTO t_user(username,password,authorities)
        VALUES
        (
        #{username},#{password},#{authorities}
        )
    </insert>
</mapper>
